In [1]:
import pandas as pd

# Criação, leitura e escrita de Dataframe

In [2]:
fruits = pd.DataFrame(data = [[30,21]], columns=[ "Apples", "Bananas"])
fruits

   Apples  Bananas
0      30       21

In [3]:
fruit_sales = pd.DataFrame(data = [[30,21], [41, 34]], columns=[ "Apples", "Bananas"], index=["2017 Sales", "2018 Sales"])

fruit_sales

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [4]:
ingredients = pd.Series(data=["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"], name="Dinner")

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [6]:
#como ler csv
a = pd.read_csv("")

#como escrever csv
a.to_csv("")

# Selecionando os dados

In [ ]:
#extrai determinada(s) coluna(s)
b = a['column_name']  
b = a.column_name
#b é uma Serie

In [ ]:
#extrai uma linha
b = a.iloc[0]

#algumas linhas
b = reviews.iloc[0:10]
#deteerminadas linhas
b = reviews.iloc[[1,2,3,5,8],:]

In [ ]:
#extrair por linha e colunas
b = a.loc[[0,1,10,100],['c1','c2', 'c3', 'c4']]

In [ ]:
#select
top_oceania_wines = reviews[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points>=95)]